* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* NAVBAR */
.nav-list {
	background-color: #000;
	margin: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-items {
	list-style: none;
	margin-right: 2rem;
	color: beige;
}

.nav-items a {
	text-decoration: none;
	color: white;
}

.nav-items:first-child {
	margin-right: auto;
	margin-left: 2rem;
}

.nav-btn {
	font-size: 1rem;
	background: #007198;
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.nav-btn:hover {
	background-color: #007198;
	color: beige;
}

.nav-items a:hover {
	color: #007198;
}

.contact a:hover {
	color: #000000;
}


/* FIN NAVBAR */

/* INFORMATIONS PERSO */

.adressePerso li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
}
ul.adressePerso span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.adressePerso li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
ul.adressePerso i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 20px;
    top: 0;
}

ul.adressePerso i.fa-envelope {
    font-size: 18px;
    top: 4px;
}

/* FIN INFORMATIONS PERSO*/

/* CONTACT */

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}

.formbold-main-wrapper {
  display: flex;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}

.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #242423;
  margin-bottom: 12px;
}

.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #CFDBD5;
  font-weight: 500;
  font-size: 16px;
  color: #242423;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: #007198;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #007198;
  color: white;
}


@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/* FIN CONTACT */


/* FOOTER */
footer {
    color: #fff;
}
ul {
    padding: 0px;
}
ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
        float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 14px;
    color: #262725;
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
}

.social-icon li i:hover {
    border: solid 2px #262725;
    color: #ffffff;
    background: #262725;
}

.footer-top {
    background: #242423;
    padding:50px 0 50px;
}

.footer-top h4 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-top p {
    font-size: 13px;
    line-height: 2;
}

.address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 20px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
}

footer .social-icon li i:hover {
    background: #000000;
    border-color: #000000;
}

.footer-bottom {
    background: #000000;
    padding: 10px 0px;
}

.footer-bottom ul li:last-child {
    margin-right: 0;
}
.copyright {
    font-size: 18px;
}
/* FIN FOOTER */
